@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}
body {
  background-color: #1353d3; /* Tailwind's gray-100 */
}
/* ------------------------------
   Real Folder Style Card Animation
   ------------------------------ */

.service-item {
  --color: #eb904b;
  width: 100%;
  background-color: var(--color);
  border-radius: 30px;
  padding: 5px 10px;
  position: relative;
  box-shadow:
    #3c40434d 0px 1px 2px,
    #3c404326 0px 1px 3px 1px;
  cursor: pointer;
  overflow: visible;
}

/* Folder top flap */
.service-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1;
  z-index: 3;

  /* This creates the "folder flap" triangle */
  border-style: solid;
  border-width: 400px 80px 0 0;   /* height, width, bottom(0), left(0) */
  border-radius: 20px;
  
   background: var(--color);
  border-top-right-radius: 60px; 
  border-bottom-right-radius: 30px;

  border-color: var(--color) transparent transparent transparent;

  transition: transform 0.7s ease, filter 0.8s ease;
  filter: drop-shadow(1px 1px 3px #0004);
}

/* Inner card layer */
.service-layer {
  background-color: #ffffffa6;
  border-radius: inherit;
  padding: 20px;
  border: 1px solid #fff;
  position: relative;
  left: 5px;
  transition: left 1s;
  box-shadow:
    #00000012 0px 1px 2px,
    #00000012 0px 2px 4px,
    #00000012 0px 4px 8px,
    #00000012 0px 8px 16px,
    #00000012 0px 16px 32px,
    #00000012 0px 32px 64px;
}

/* Hover Animations */
.service-item:hover::after {
  filter: drop-shadow(10px 0 2px #000000d2);
  transform: translateX(-30px);
}

.service-item:hover .service-layer {
  left: 50px;
}

/* Right bubble icon */
.service-bubble {
  width: 40px;
  height: 40px;
  background: var(--color);
  color: #fff;
  display: grid;
  place-content: center;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 16px;
  box-shadow:
    #00000012 0px 1px 2px,
    #00000012 0px 2px 4px,
    #00000012 0px 4px 8px,
    #00000012 0px 8px 16px;
}

/* service Titel Text */
.service-title {
  color: #fff;
}
/* Smooth fade + slide animation */
@keyframes mapFadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.95);
    box-shadow: none;
  }
  60% {
    opacity: 1;
    transform: translateY(0) scale(1.02);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.map-animated {
  animation: mapFadeUp 0.9s ease-out forwards;
}
